<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="UniversityEventsDB"
         connectionString="Server=localhost;Port=5432;Database=UniversityEvents;UserId=postgres;Password=yourpassword;"
         providerName="Npgsql" />
  </connectionStrings>

  <appSettings>
    <add key="SmtpServer" value="smtp.university.edu" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUsername" value="events@university.edu" />
    <add key="SmtpPassword" value="encrypted_password_here" />
    <add key="EmailFrom" value="University Events &lt;events@university.edu&gt;" />
    
    <add key="MaxImageSizeBytes" value="5242880" /> 
  </appSettings>
</configuration>
